body {
    background-image: url('background.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

#container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px;
}

#login {
    max-width: 500px;
    background-color: rgba(0, 0, 0, 0.8);
    flex-grow: 1;
    padding: 30px 30px 40px;
    border-radius: 10px;
}

.heading,
.sign {
    font-size: 30px;
    color: #f5f5f5;
    text-align: center;
    margin-bottom: 30px;
}

.group {
    border-bottom: 1px solid #f5f5f5;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
}

.input {
    background: transparent;
    border: 0;
    outline: 0;
    color: #f5f5f5;
    flex-grow: 1;
}

.check {
    color: #f5f5f5;
    font-size: 14px;
    padding: 10px 10px 20px;
}

.submit {
    background: transparent;
    border: 1px solid #f5f5f5;
    width: 100%;
    color: #f5f5f5;
    padding: 10px 10px;
    transition: 0.5s ease-in-out;
}

.submit:hover {
    background: rgba(0, 0, 0, 0.8)
}

.left {
    float: right;
}

.right {
    float: left;
}

a {
    color: #f5f5f5;
    font-size: 14px;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
    padding: 5px 5px;
    color: #f5f5f5;
}

@media screen and (max-width: 768px) {
    #login {
        max-width: 250px;
    }
    .sign {
        font-size: 20px;
    }
}